
  body{
    background-color:#FDF8F8;
    width:100%;
}

#main-header {
  margin-top: 30px;
  width: 30%;
  height: 5vh;
  display: grid;
  justify-items: center;
  align-items: center;

}

#content{
    align-self: center;
    width: 100%;
}

.container{
    align-self: center;
    width: 80%;
    padding-top:30px;
    height: 100%;
    display: flex;
}

#influencer{
    position: absolute;
        width: 343px;
    height: 417px;
    left: 310px;
    top: 295px;         
    text-align: center;
    background-color: #eee2dc;
    padding: 10px 20px;
    border-radius:30px;
}

#small-business{
    position: absolute;
    width: 343px;
    height: 417px;
    background-color: #eee2dc;
    left: 785px;
    top: 295px;
    border-radius:30px;
}

#influencer, #small-business > p{
    text-align: center;
    vertical-align: middle;
    padding-top: 170px;
    font-size: 25px;
}

#influencer:hover, #small-business:hover{
    opacity:0.7;
    border-radius:30px;
}


#login-form-submit {
  width: 10%;
  padding: 15px 10px;
  border: none;
  margin-top:470px;
  margin-bottom: 40px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  background-color: #eee2dc;
  cursor: pointer;
  border: 2px groove ;
}

#login-form-submit:hover {
  background-color: #bab2b5;
  color: black;
  border: 2px groove;
}