
center > #carousel {
        padding-top:10px;
    width: 95%;
    height: 475px;
    background-color: #AC3B61;
    overflow: auto;
    white-space:nowrap;
    }

center > #carousel .slide {
    display: inline-block;
}

body > h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 20px;
    text-align: center;
    padding-top: 110px;
    color: #123C69;

}

body > h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 10px;
    text-align: center;
        padding-top: 30px;
    color: #123C69;

}

body > .block_1{
        position: absolute;
        width: 230px;
        height: 230px;
        left: 38px;
        top: 160px;

        background: url("../img/molly.jpg");
        background-size: cover;
        border-radius: 200px;
        border: 5px groove #EEE2DC;
    }

body > .block_2{
        position: absolute;
        width: 700px;
        height: 180px;
        left: 374px;
        top: 190px;
        border-radius: 10px;
        border: black 1px groove;
        background: #EEE2DC;
}

body > .block_2 > p{
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        margin-top: 38px;
        margin-left: 25px;
        width:650px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;

        color: #123C69;
}

body > .block_3{
        position: absolute;
        width: 370px;
        height: 140px;
        left: 289px;
        top: 1025px;

        background: #EEE2DC;
        border-radius: 80px;
        text-align: center;
}

body > .block_3 > p{
        position: absolute;
        margin-top:40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        margin-left: 20px;
        color: #AC3B61;
}

body > a > .review_button{
        position: absolute;
        width: 370px;
        height: 140px;
        right: 279px;
        top: 1025px;
        color: #AC3B61;
        background: #EEE2DC;
        border-radius: 80px;
}

body > a> .review_button > p{

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 46px;
        text-align: center;
        
}

.review_button:hover{
        background:#bab2b5;
        color:#123C69;
}

body > a> .connect_button{
        position: absolute;
        width: 244px;
        height: 90px;
        left: 1100px;
        top: 230px;

        background: #EEE2DC;
        border-radius: 80px;
        color: #AC3B61;
        font-size: 48px;
        font-family: Roboto;
        text-align: center;
}

.connect_button:hover{
        background:#bab2b5;
        color:#123C69;
}

.connect_button p{
        margin-top:17px;
}


body {
    padding-bottom: 250px;
}