* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #eee2dc;
  position: fixed;
  z-index: 4;
  border: 1px solid black;
}

.nav > .nav-header {
  display: inline-block;
}

.nav > .nav-header{
  display: inline-block;
  font-size: 22px;
  color: #123c69;
  padding: 10px 10px 10px 10px;
}

.nav-header{
  padding-top:30px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links{
  margin-top: -10px;
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color:#AC3B61;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color:#123C69;
}

.nav > #nav-check {
  display: none;
}

.nav-links{
  height:59px;
  padding-left: 30px;
}

.idkwhythissodifficult{
  height:59px;
}
.nav-links p {
  font-size: 22px;
  float:left;
  margin-top:4;
  margin-right:4;
}

.star-icon{
  float:right;
  margin-left:10px;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links > a{
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links{
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}