body{
  background-color:#FDF8F8;
}

#main-header {
margin-top: 40px;
width: 30%;
height: 20vh;
display: grid;
justify-items: center;
align-items: center;
background-color: #bab2b5;
border-radius: 10px;
box-shadow: 0px 0px 2px 2px black;
}

#icon{
  margin-top: -40px;
}

center > h1{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 20px;
  padding-top: 100px;
color: #123C69;
margin-left: 100px;

}
/* The sidebar menu */
.sidenav {
height: 450px; /* Full-height: remove this if you want "auto" height */
width: 198px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
/*z-index: 1; Stay on top */
top: 150px; /* Stay at the top */
left: 0;
background-color: #eee2dc; /* Black */
/* overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
border-radius: 25px;
}

/* The navigation menu links */
.sidenav a {
position: static;
width: 121px;
height: 33px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 35px;

color: #123C69;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 30px;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover {
color: #f1f1f1;
}
*/

center > a> .profile_img_1{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 243px;
    top: 300px;

    background-color: #BAB2B5;
}
center > a> .profile_img_2{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 616px;
    top: 300px;

    background-color: #BAB2B5;
}
center > a> .profile_img_3{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 991px;
    top: 300px;

    background-color: #BAB2B5;
}
center > a> .profile_img_4{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 616px;
    top: 600px;


    background-color: #BAB2B5;
}
center > a> .profile_img_5{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 243px;
    top: 600px;

    background-color: #BAB2B5;
}
center > a> .profile_img_6{
    position: absolute;
    width: 286px;
    height: 250px;
    left: 991px;
    top: 600px;

    background-color: #BAB2B5;
}


.login-form-field::placeholder {
color: #3a3a3a;
font-size: 20px;
}

.login-form-field {
border: none;
border-radius: 3px;
outline: none;
border-style: groove;
padding: 0px 20px;
margin-top: 50px;
width: 50%;
height: 10vh;
display: grid;
justify-items: center;
align-items: center;
background-color: #eee2dc;
border-radius: 10px;
font-size: 20px;
margin-left: 100px;
}
body {
padding-bottom: 650px;
}