
  body{
    background-color:#FDF8F8;
}

#main-header {
  width: 30%;
  height: 5vh;
  display: grid;
  justify-items: center;
  align-items: center;

}


#login-all{
    width: 80%;
    padding-top:30px;
    height: 100%;
}


#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 30px;
  padding-top: 5px;
}

.login-form-field::placeholder {
  color: #3a3a3a;
  font-size: 20px;
}

.login-form-field {
  border:none;
  padding: 0px 20px;
  margin-top: 40px;
  width: 50%;
  height: 10vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #eee2dc;
  border-radius: 10px;
  font-size: 20px;
}

#login-form-submit {
  width: 30%;
  padding: 15px 10px;
  border: none;
  margin-top:30px;
  border-radius: 10px;
  color: #AC3B61;
  font-weight: bold;
  background-color: #eee2dc;
  cursor: pointer;
  border: 2px groove ;
  border-radius: 15px;
}

#login-form-submit:hover {
  background-color: #bab2b5;
  color: #123c69;
}